[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypresence = "*"
psutil = "*"
docopt = "==0.6.2"
pywin32 = {version = "*", platform_system = "== 'Windows'"}
WMI = {version = "*", platform_system = "== 'Windows'"}
"delegator.py" = "*"
watchdog = "*"
appdirs = "*"  # Platform-specific directories (github.com/ActiveState/appdirs)
python-decouple = "*"
vix = "*"  # VMware Vix (github.com/naim94a/vix)

[dev-packages]
pyinstaller = "*"
tox = ">=3.4"
setuptools = ">=38.6.0"
wheel = "*"
twine = "*"
codespell = "*"
pylint = "*"
pytest = ">=3.4"
pytest-cov = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-import-order = "*"
flake8-tidy-imports = "*"
flake8-todo = "*"
flake8-string-format = "*"
bandit = "*"

[requires]
python_version = "3.7"

[scripts]
run = "python -m astolfo"
# install = "python service.py"
bandit = "python -m bandit -r astolfo"
